/*添加员工样式*/
.add_staff_btn{overflow: hidden;}
.add_pop_staff,.new_password{width:460px;border-radius:5px;background:#fff;border:1px solid #dddddd;}
.add_staff_head,.combine_invoice_head,.lot_set_head,.new_password_head{height:39px;border-bottom: 1px solid #dedede;background:#f7f7f7;text-align:center;line-height:39px;}
.add_staff_content{padding:30px 20px;width:420px;}
.add_staff_content li,.combine_invoice_content li,.lot_set_content li,.new_password_content li{margin-bottom: 20px;}
.add_staff_content li span{width:90px;display:inline-block;text-align:right;color:#afafaf;}
.add_staff_content li input[type="text"],.new_password_content li input{width:278px;height:28px;}
.add_staff_content li input.limit_money{width:110px;height:28px;}

.add_staff_cancel,.add_staff_sure{float:left;width:158px;height:34px;line-height:34px;cursor:pointer;}
.add_staff_cancel{height:32px;width:156px;border:1px solid #dcdcdc;color:#313131;background:#fff;}
.add_staff_sure{color:#fff;margin-left:20px;}
.add_staff_content .add_staff_cancel{ margin-left:40px;}

/*合并开票样式*/
.combine_invoice,.lot_set{width:500px;border-radius:5px;background:#fff; text-align: center;}
.combine_invoice_content,.lot_set_content{padding:30px 20px;width:460px;}
.combine_invoice_content .combine_invoice_content_h,.lot_set_content_h{text-align:center;margin-bottom: 20px;font-size:16px;color:#000;}
.combine_invoice_content li span{width:90px;display:inline-block;text-align:right;color:#afafaf;}
.combine_invoice_content .combine_invoice_content_h span{color:#ffa616;width:50px;}
.combine_invoice_content li select{width:325px;height:28px;}
.combine_invoice_content li input{width:325px;height:28px;}
.combine_invoice_content li select{width:100px;height:28px;}
.combine_invoice_content li select.invoice_area_city{margin:0 12px;}
.combine_invoice_content li.invoice_remark{margin-top: -15px;margin-left:88px;color:#a9a9a9;}
.combine_invoice_content li.invoice_address{margin-left:88px;}
.combine_invoice_content li.invoice_address input{width:10px;height:10px;vertical-align: middle;}

/*批量设置样式*/
.lot_set_content{padding:30px 5px;width:490px; text-align: center;}
.lot_set_content li span{width:160px;text-align:center;color:#a8a8a8;display:inline-block;}
.lot_set_content li input[type="text"]{width:100px;height:28px;}

/*重设密码样式*/
.new_password_content li.new_indent_code input{width:178px;height:28px;}
.new_password_content li.new_indent_code .public_otp{float:right;width:90px;height:28px;background:#cdcdcd;line-height:28px;margin-right:85px;cursor:pointer;}
.new_password_content li.error_prompt{margin-left:64px;color:red;margin-top:-10px;margin-bottom: 10px;}
.new_password_content li span{width:70px;display:inline-block;text-align:center;color:#cbcbcb;}
.new_password_content{padding:30px 15px;width:430px;}

/*注册提示*/
.register_prompt{width:420px;border:1px solid #dddddd;border-radius:5px;}
.public_prompt{height:30px;width:100%;text-align:center;line-height:30px;border-bottom: 1px solid #dcdcdc;background-color: #f7f7f7;}
.register_prompt_content{background:#fff;padding:20px 20px;width:380px;}
.register_prompt_content li.prompt_explain{width:240px;text-align:center;margin:20px auto;line-height:24px;}
.register_prompt_content .register_success{width:24px;height:24px;background:url(../images/prompt_icon_01.png) no-repeat;margin:0 auto;}
.remit_prompt_btn{width:280px;height:30px;text-align:center;margin:0 auto;line-height:30px;}
.prompt_attr{color:red;display:block;margin-top:-10px;text-align:center;margin-bottom: 20px;}
.prompt_explains{text-align:center;margin:20px 0;line-height:24px;}
.cancel_car_btn{width:296px;height:34px;text-align:center;line-height:34px;margin:0 auto;}
.register_prompt_content .register_fail{width:24px;height:24px;background:url(../images/prompt_icon_02.png) no-repeat;margin:0 auto;}
.order_objection{width:420px;border:1px solid #dddddd;border-radius:5px;}
.objection{height:30px;text-align:center;line-height:30px;border-bottom: 1px solid #dbdbdb;background-color: #f7f7f7;}
.objection_content{background:#fff;padding:30px;width:360px;}
.objection_content li{margin-bottom: 20px;}
.objection_content .objection_explain{font-size:16px;line-height:20px;}
.objection_cancel,.objection_sure{cursor:pointer;float:left;width:158px;height:32px;border:1px solid #dcdcdc;text-align:center;line-height:32px;color:#323232;background:#fff;}
.objection_sure{background:#fea805;color:#fff;margin-left:20px;}
.objection_explain span{color:#838383;}
.re_object{padding:30px 10px;width:400px;}

/*注册成功、失败*/
.register_suc,.register_err{width: 300px;height: 190px;background-color: #fff;text-align: center;border:1px solid #dcdcdc;padding: 40px 30px 30px;box-sizing: border-box;border-radius: 5px;}
.register_suc p,.register_err p{font-size: 16px;background: url("../images/prompt_icon_01.png") no-repeat center top;padding-top: 36px;}
.register_err p{background-image: url("../images/prompt_icon_02.png");}
.register_suc span,.register_err span{display: inline-block;width: 100%;padding: 7px 0;border-radius: 5px;margin-top: 30px;}




