body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue","Microsoft YaHei","微软雅黑",SimHei,"宋体",simsun,sans-serif;
  line-height: 20px;
  color: #333;
}
body {
  font-size: 16px;
  min-width: 320px;
}

ul,li {
  list-style: none;
}

input,textarea {
  vertical-align: middle;
  font-size: 100%;
}

textarea {
  overflow: auto;
  vertical-align: middle;
}
h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
  font-weight: normal;
}

em,i {
  font-style: normal;
  font-size: 100%;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border: 0 none;
  -ms-interpolation-mode: bicubic;
}

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
  border-radius: 0;
  -webkit-appearance: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

input[type=button],input {
  outline: none;
}
input{border:none;}

a {
  text-decoration: none;
  color: #666;
  -webkit-tap-highlight-color: transparent;
}

a:active {
  color: #0846a3;
  text-decoration: none;
}

*::-moz-selection {
  background: #dd5559;
  color: #fff;
}

.clearfix:after {
  content: '\0020';
  display: block;
  height: 0;
  clear: both;
}

.clearfix {
  zoom: 1;
}
.clearfix:after{content:""; display:block; visibility:hidden; height:0; clear:both;}
.clearfix{zoom:1;}

html,body {
  min-height: 100%;
}

.mt20 {
  margin-top: 20px;
}

/************/
html {
}

html,body {
  width: 100%;
  height: 100%;
}

body {
  min-width: 5rem;

}

.wrap{
  margin: 0 auto;
  max-width: 10rem;
  position: relative;
  height: 100%;
  box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box; /* Safari */
}

.mdHead{position: relative;background:#fff;height:0.625rem;}
.mdHead h3{
  text-align: center;
  line-height: 0.625rem;
  font-size: 16px;
  border-bottom: 1px solid #f2f2f2;
}
.mdHead .back{
  position: absolute;
  left: 5px;
  top: 5px;
  height: 35px;
  width: 35px; 
  background: url(../images/fh.png) no-repeat center;
  background-size: 50%;
}

/*分享*/
.share{padding:15px 0;}
.share .g-share{width:34px;height:34px;background:url(../images/guge.png) no-repeat;background-size:100% 100%;float: right;margin-right:5%;}
.share .w-share{width:34px;height:34px;background:url(../images/weixin.png) no-repeat;background-size:100% 100%;float: right;margin-right:1%;}

/*content分区*/
.content{margin-top:0.3125rem;padding:0 4.0625%;}
.content p{color:#676767;font-family: "微软雅黑";line-height: 25px;font-size: 16px;}
.tupian{margin-top:10px;margin-bottom: 10px;}
.tupian img{width: 100%;}
.clicks{margin-top:0.5rem;padding:0 35%;}
.sub-clicks a{width:100%;height:0.625rem;line-height: 0.625rem;text-align: center;color:#fff;font-size: 0.3125rem;display:inline-block;background: #ff9000;margin:0 auto;-wekit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}

.contentss{padding:20px 4.375% 0;}
.sub-contentss{border:1px solid #ccc;-wekit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;margin-bottom: 15px;}
.sub-contentss p{padding:2%;font-size: 14px;} 
.sub-contentss_hd{height:34px;background:#f4f4f4;}
.sub-contentss_hd .biaotis{float: left;height:34px;width:60%;line-height: 34px;margin-left:2%;color:#fe762d;font-size: 14px;overflow: hidden;cursor:pointer;}
.sub-contentss_hd .shijian{float: right;height:34px;line-height: 34px;margin-right:2%;font-size: 14px;}
.shijian span{width: 10px;height: 10px;background:url(../img/dian.png) no-repeat;background-size:100% 100%;display:inline-block;}

.more{margin-top:30px;width:90px;height:35px;margin:0 auto;}
.more a{width: 100%;height: 100%;background:url(../img/more.png) no-repeat center center;background-size:50%;display:inline-block;}





@media screen and (max-width: 800px) {
  #main {
    width: auto;
    font-size: 14px;
  }
  img {
    width: 100%;
  }
}
 
}

@media screen and (min-width:0\0) {
}
