/* user center */
.nav_content li .corporation_staff{ background-image:url(../images/corporation_staff.png);}
.nav_content li .corporation_data{ background-image:url(../images/corp_msgT.png);}

.msg_box{ border: 1px solid #dcdcdc;}
.msg_boxH{ height: 30px;background-color: #f8f8f8;}
.msg_boxH h3{line-height: 30px;font-weight: normal;padding-left: 20px;}
.msg_boxM{ padding:20px 0 20px 74px;}
.msg_boxM li{line-height: 30px;}
.msg_boxM li em{ color:#878787;}
.msg_boxM span{display: inline-block;width: 150px;margin-left: 18px;}
.msg_boxM i{display: inline-block;width: 100px;height: 24px;line-height: 24px;background-color: #8ca1b4;border-radius: 4px;font-size: 12px;color: #fff;font-style: normal;text-align: center;cursor: pointer;}
.msg_boxM .corp_ID span{ width: auto;}
.msg_boxM .corp_ID b{display: inline-block;width: 62px;height: 20px;color: #fda714;font-weight: normal;background: url("../images/corp_v.png") no-repeat left center;padding-left: 15px;margin-left: 12px;}








