/* recharge */
.nav_content li .corporation_staff{ background-image:url(../images/corporation_staff.png);}

.recharge_way{height: 30px;border-bottom: 2px solid #eaeff5;margin-bottom: 8px;}
.recharge_way li{float: left;width: 310px;height: 20px;text-align: center;}
.recharge_way span{display: inline-block;height: 100%;padding-left: 28px;font-size: 16px; cursor: pointer;}
.way_online{border-right: 1px solid #e7e7e7;}
.way_online span{ background: url("../images/recharge_ online.png") no-repeat;}
.way_transfer span{ background: url("../images/recharge_ transferT.png") no-repeat;}
.way_transferT{position:relative;color: #fda714;}
.way_transferT:after{content: "";position: absolute;left: 0;bottom: -12px;width: 310px;height: 8px;background: url("../images/recharge_ wayBg.png") no-repeat;}

.recharge_bank{ height: 60px; line-height: 60px; font-size: 18px;}

.bank{background-color: #f6f6f6;padding: 10px 0 10px 10px;}
.bank li{float: left;width:295px;height: 86px;box-sizing: border-box; font-size:14px;border:1px solid #dcdcdc;border-radius: 4px;margin-right: 10px;padding: 14px 0 0 74px;background: no-repeat 24px 14px #fff;}
.bank li:nth-of-type(1){background-image: url("../images/recharge_ ICBC.png");}
.bank li:nth-of-type(2){background-image: url("../images/recharge_ ABC.png");}
.bank li:nth-of-type(3){background-image: url("../images/recharge_ CMB.png");}
.bank li div{height: 21px;}
.bank .bank_owner{ color: #878787;}

.bank_form{padding: 20px 0 30px 20px;font-size: 14px;}
.bank_select,.transfer_money{ margin-bottom: 20px;}
.bank_select select,.transfer_money input{width: 226px;height: 30px;border: 1px solid #dcdcdc;padding-left: 6px;}
.transfer_prove span,.transfer_prove ul,.transfer_prove li{ float: left;}
.transfer_prove .prove_add{width: 100px;height: 100px;background: url("../images/recharge_ add.png") no-repeat center center #f6f6f6;border: 1px solid #dcdcdc;margin: 0 10px 0 5px;cursor: pointer;}
.prove_tip{font-size: 12px;color: #878787;margin-top: 60px;}
.prove_tip p{height: 20px;line-height: 20px;}

.transfer_sure{font-size: 18px;padding: 7px 83px; margin-left: 94px; cursor: pointer;display: initial;}



